$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.7;

$theme-colors: (
  'primary': #f8681f,
  'light': #f8f8f9,
  'grey': #393939,
  'black': #222222,
  'soft-dark': #292929,
);
